@import "../fonts/ProximaNova/_proxima-font.css";

$blue-color: #21409a;

$mq-breakpoints: (
        mobile: 320px,
        desktop: 768px,
        wide: 1120px
);

@import "mq";

.container {
  @include mq($until: desktop) {
    width: 285px;
  }

  @include mq(desktop) {
    width: 690px;
  }

  @include mq(wide) {
    width: 1120px;
  }
}

@mixin default-transition() {
  transition: all 0.3s ease;
}

@mixin link-hvr($color:$blue-color) {
  display: inline-block;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }

  &:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: $color;
    @include default-transition();
  }

  &:hover:after {
    width: 100%;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  margin-bottom: 220px;

  @include mq($until: desktop) {
    margin-bottom: 0;
  }
}

.container {
  position: relative;
}

.collapsing {

}

a {
  &, &:hover, &:focus, &:visited {
    color: $blue-color;
    text-decoration: none;
  }
}

.section-header {
  color: $blue-color;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.3px;
  margin: 0;

  @include mq($until: desktop) {
    font-size: 18px;
  }

  @include mq(wide) {
    font-size: 36px;
  }
}

h1 {
  font-weight: bold;
  color: $blue-color;
  margin-top: 30px;

  .back {
    margin-right: 26px;

    @include mq($until: desktop) {
      margin-right: 6px;
    }
  }

  @include mq($until: desktop) {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    font-size: 24px;
    margin-bottom: 10px;
  }

  @include mq(wide) {
    font-size: 36px;
    margin-bottom: 10px;
  }
}

.btn {
  @include default-transition();
  border-radius: 34px;
  border: 5px solid $blue-color;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;

  &:hover {
    color: #ffffff;
    background: $blue-color;
  }

  @include mq($until: desktop) {
    border-width: 3px;
  }

  /*border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #21409a, #007196);*/
}

@import "magnific-popup.css";
@import "parts/header";
@import "parts/mobile-menu";
@import "parts/homepage";
@import "parts/catalog";
@import "parts/cert";
@import "parts/footer";
@import "parts/project";
@import "parts/service";
@import "parts/contacts";
@import "parts/news";