@import url(../fonts/ProximaNova/_proxima-font.css);
@import url(magnific-popup.css);
@media (max-width: 47.99em) {
  .container {
    width: 285px; } }
@media (min-width: 48em) {
  .container {
    width: 690px; } }
@media (min-width: 70em) {
  .container {
    width: 1120px; } }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  margin-bottom: 220px; }
  @media (max-width: 47.99em) {
    body {
      margin-bottom: 0; } }

.container {
  position: relative; }

a, a:hover, a:focus, a:visited {
  color: #21409a;
  text-decoration: none; }

.section-header {
  color: #21409a;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.3px;
  margin: 0; }
  @media (max-width: 47.99em) {
    .section-header {
      font-size: 18px; } }
  @media (min-width: 70em) {
    .section-header {
      font-size: 36px; } }

h1 {
  font-weight: bold;
  color: #21409a;
  margin-top: 30px; }
  h1 .back {
    margin-right: 26px; }
    @media (max-width: 47.99em) {
      h1 .back {
        margin-right: 6px; } }
  @media (max-width: 47.99em) {
    h1 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 20px; } }
  @media (min-width: 48em) {
    h1 {
      font-size: 24px;
      margin-bottom: 10px; } }
  @media (min-width: 70em) {
    h1 {
      font-size: 36px;
      margin-bottom: 10px; } }

.btn {
  transition: all 0.3s ease;
  border-radius: 34px;
  border: 5px solid #21409a;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;
  /*border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #21409a, #007196);*/ }
  .btn:hover {
    color: #ffffff;
    background: #21409a; }
  @media (max-width: 47.99em) {
    .btn {
      border-width: 3px; } }

.header {
  padding-top: 24px; }
  @media (max-width: 47.99em) {
    .header {
      padding-top: 16px;
      margin-bottom: 35px; } }
  @media (min-width: 70em) {
    .header {
      padding-top: 68px; } }
  .header-logo-container {
    float: left;
    width: 180px; }
    @media (max-width: 47.99em) {
      .header-logo-container {
        width: 156px;
        margin-right: 21px; } }
    @media (min-width: 70em) {
      .header-logo-container {
        width: 280px; } }
  .header-logo {
    width: 100%; }
  .header-phone-container {
    float: left;
    width: 244px;
    margin: 3px 35px 0 58px; }
    @media (min-width: 70em) {
      .header-phone-container {
        width: 280px;
        margin: 8px 112px 0 111px; } }
    @media (max-width: 47.99em) {
      .header-phone-container {
        display: none; } }
  .header-phone {
    display: inline-block;
    color: #21409a;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px; }
    .header-phone:hover, .header-phone:active, .header-phone:focus {
      text-decoration: none; }
    .header-phone:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: #21409a;
      transition: all 0.3s ease; }
    .header-phone:hover:after {
      width: 100%; }
    @media (min-width: 70em) {
      .header-phone {
        font-size: 36px;
        line-height: 34px; } }
  .header-consult {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 31px; }
    .header-consult:hover, .header-consult:active, .header-consult:focus {
      text-decoration: none; }
    .header-consult:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: #21409a;
      transition: all 0.3s ease; }
    .header-consult:hover:after {
      width: 100%; }
    @media (min-width: 70em) {
      .header-consult {
        font-size: 24px;
        line-height: 34px;
        margin-left: 3px;
        margin-top: 7px; } }
    .header-consult img {
      width: 25px;
      margin-right: 5px; }
  .header-desc-container {
    float: left;
    width: 154px;
    margin-top: 7px;
    line-height: 22px;
    font-size: 18px;
    color: #21409a; }
    @media (max-width: 47.99em) {
      .header-desc-container {
        display: none; } }
    @media (min-width: 70em) {
      .header-desc-container {
        width: 337px;
        font-size: 24px;
        margin-top: 5px;
        padding-left: 15px;
        line-height: 27px; } }
  .header-search-container {
    position: relative;
    width: 100%; }
    @media (max-width: 47.99em) {
      .header-search-container {
        margin-top: 10px;
        display: none; } }
    @media (min-width: 70em) {
      .header-search-container {
        margin-top: 15px; } }
    .header-search-container button {
      transition: all 0.3s ease;
      background: none;
      padding: 0;
      border: 0;
      position: absolute;
      top: 2px; }
      @media (min-width: 70em) {
        .header-search-container button {
          padding: 2px; } }
      .header-search-container button img {
        width: 24px; }
      .header-search-container button:hover {
        background: none; }
    .header-search-container input {
      transition: all 0.3s ease;
      border: 0;
      border-radius: 0;
      color: #21409a;
      border-bottom: 2px solid #21409a;
      box-shadow: none;
      height: 34px;
      padding: 0 0 0 34px;
      font-size: 18px; }
      .header-search-container input:focus {
        box-shadow: none;
        border-color: #21409a; }
      @media (min-width: 70em) {
        .header-search-container input {
          height: 39px; } }
  @media (max-width: 47.99em) {
    .header-menu {
      display: none; } }
  .header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .header-menu ul li {
      display: inline-block; }
      @media (min-width: 48em) {
        .header-menu ul li {
          margin: 21px 4px 29px 22px; } }
      @media (min-width: 70em) {
        .header-menu ul li {
          margin: 41px 65px 29px 22px; } }
      .header-menu ul li:first-child {
        margin-left: 0; }
      .header-menu ul li:last-child {
        margin-right: 0; }
      .header-menu ul li a {
        display: inline-block;
        font-size: 18px; }
        .header-menu ul li a:hover, .header-menu ul li a:active, .header-menu ul li a:focus {
          text-decoration: none; }
        .header-menu ul li a:after {
          display: block;
          content: "";
          height: 2px;
          width: 0;
          background-color: #21409a;
          transition: all 0.3s ease; }
        .header-menu ul li a:hover:after {
          width: 100%; }
        @media (min-width: 70em) {
          .header-menu ul li a {
            font-size: 24px; } }
  .header-mobile-container {
    display: none; }
    @media (max-width: 47.99em) {
      .header-mobile-container {
        display: block; } }
    .header-mobile-container img {
      margin-right: 6px; }

.mobile-menu {
  display: none;
  background: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  padding: 15px;
  top: 57px; }
  .mobile-menu-description {
    font-size: 14px;
    color: #21409a; }
  .mobile-menu ul {
    padding: 0;
    list-style: none; }
    .mobile-menu ul li {
      margin-bottom: 15px; }
      .mobile-menu ul li a {
        display: inline-block;
        color: #21409a;
        font-size: 21px;
        font-weight: bold; }
        .mobile-menu ul li a:hover, .mobile-menu ul li a:active, .mobile-menu ul li a:focus {
          text-decoration: none; }
        .mobile-menu ul li a:after {
          display: block;
          content: "";
          height: 2px;
          width: 0;
          background-color: #21409a;
          transition: all 0.3s ease; }
        .mobile-menu ul li a:hover:after {
          width: 100%; }

.homepage-slider {
  width: 100%;
  height: 320px;
  border-radius: 24px;
  background-image: linear-gradient(to left, #21409a, #007196); }
  @media (min-width: 70em) {
    .homepage-slider {
      margin-top: 28px;
      height: 432px; } }
  .homepage-slider .slick-dots {
    bottom: 10px; }
    .homepage-slider .slick-dots li button:before {
      font-size: 10px;
      opacity: 1;
      color: #d2d2d2; }
      @media (min-width: 70em) {
        .homepage-slider .slick-dots li button:before {
          font-size: 14px; } }
    .homepage-slider .slick-dots li.slick-active button:before {
      color: #ffffff; }
  .homepage-slider-item {
    color: #ffffff; }
    @media (max-width: 47.99em) {
      .homepage-slider-item {
        height: 320px; } }
    .homepage-slider-item-img {
      float: left;
      overflow: hidden; }
      @media (max-width: 47.99em) {
        .homepage-slider-item-img {
          width: 230px;
          height: 170px;
          position: absolute;
          bottom: -25px; } }
      @media (min-width: 48em) {
        .homepage-slider-item-img {
          width: 413px;
          height: 328px;
          margin-top: -8px;
          margin-right: 3px; } }
      @media (min-width: 70em) {
        .homepage-slider-item-img {
          width: 537px;
          height: 432px;
          margin-top: 0;
          margin-right: 46px; } }
    .homepage-slider-item img {
      width: 100%;
      margin-top: 50px;
      margin-left: -50px; }
    .homepage-slider-item .text {
      float: left;
      width: 228px;
      margin-top: 73px; }
      @media (max-width: 47.99em) {
        .homepage-slider-item .text {
          padding-left: 40px;
          margin-top: 28px;
          margin-bottom: 13px; } }
      @media (min-width: 70em) {
        .homepage-slider-item .text {
          width: 425px; } }
      .homepage-slider-item .text h2 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 19px;
        line-height: 30px; }
        @media (max-width: 47.99em) {
          .homepage-slider-item .text h2 {
            font-size: 18px;
            line-height: 18px; } }
        @media (min-width: 70em) {
          .homepage-slider-item .text h2 {
            font-size: 48px;
            line-height: 57px; } }
      .homepage-slider-item .text p {
        font-size: 18px;
        margin-bottom: 25px;
        line-height: 19px; }
        @media (max-width: 47.99em) {
          .homepage-slider-item .text p {
            font-size: 14px;
            line-height: 18px; } }
        @media (min-width: 70em) {
          .homepage-slider-item .text p {
            font-size: 24px;
            line-height: 31px; } }
      .homepage-slider-item .text a {
        transition: all 0.3s ease;
        font-size: 16px;
        font-weight: bold;
        height: 32px;
        border-radius: 24px;
        border: solid 3px #ffffff;
        text-transform: uppercase;
        padding: 3px 21px; }
        .homepage-slider-item .text a, .homepage-slider-item .text a:focus, .homepage-slider-item .text a:visited {
          color: #ffffff;
          text-decoration: none; }
        .homepage-slider-item .text a:hover {
          background: #ffffff;
          color: #21409a; }
        @media (min-width: 70em) {
          .homepage-slider-item .text a {
            font-size: 20px;
            margin-top: 10px;
            height: 49px;
            border: solid 4px #ffffff;
            padding: 9px 41px; } }
.homepage-about {
  margin-top: 58px; }
  @media (max-width: 47.99em) {
    .homepage-about {
      margin-top: 40px; } }
  @media (min-width: 70em) {
    .homepage-about {
      margin-top: 91px; } }
  .homepage-about h2 {
    margin-bottom: 18px; }
    @media (min-width: 70em) {
      .homepage-about h2 {
        margin-bottom: 43px; } }
  .homepage-about p {
    color: #21409a;
    line-height: 21px;
    margin-bottom: 20px; }
    @media (max-width: 47.99em) {
      .homepage-about p {
        margin-top: 16px;
        font-size: 14px; } }
    @media (min-width: 70em) {
      .homepage-about p {
        width: 920px;
        font-size: 24px;
        line-height: 29px; } }
.homepage-catalog {
  margin-top: 75px; }
  @media (max-width: 47.99em) {
    .homepage-catalog {
      margin-top: 40px; } }
  @media (min-width: 70em) {
    .homepage-catalog {
      margin-top: 88px; } }
  .homepage-catalog h2 {
    margin-bottom: 55px; }
    @media (max-width: 47.99em) {
      .homepage-catalog h2 {
        margin-bottom: 16px; } }
.homepage-certs {
  margin-top: 12px; }
  @media (min-width: 70em) {
    .homepage-certs {
      margin-top: 6px; } }
  .homepage-certs h2 {
    margin-bottom: 24px; }
    @media (min-width: 70em) {
      .homepage-certs h2 {
        margin-bottom: 40px; } }

.catalog-row {
  content: " ";
  display: table; }
.catalog-list .panel {
  margin-bottom: 0;
  box-shadow: none; }
.catalog-list .catalog-list-header {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase; }
  .catalog-list .catalog-list-header a {
    display: inline-block; }
    .catalog-list .catalog-list-header a:hover, .catalog-list .catalog-list-header a:active, .catalog-list .catalog-list-header a:focus {
      text-decoration: none; }
    .catalog-list .catalog-list-header a:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: #21409a;
      transition: all 0.3s ease; }
    .catalog-list .catalog-list-header a:hover:after {
      width: 100%; }
.catalog-list .catalog-list-item {
  color: #21409a;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: none; }
  @media (max-width: 47.99em) {
    .catalog-list .catalog-list-item {
      font-size: 18px; } }
  .catalog-list .catalog-list-item a {
    display: inline-block; }
    .catalog-list .catalog-list-item a:hover, .catalog-list .catalog-list-item a:active, .catalog-list .catalog-list-item a:focus {
      text-decoration: none; }
    .catalog-list .catalog-list-item a:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: #21409a;
      transition: all 0.3s ease; }
    .catalog-list .catalog-list-item a:hover:after {
      width: 100%; }
.catalog-item {
  transition: all 0.3s ease;
  display: block;
  float: left;
  height: 150px;
  margin: 0 8px 38px 8px;
  padding: 10px;
  border-radius: 24px; }
  @media (max-width: 47.99em) {
    .catalog-item {
      width: 125px;
      height: 170px;
      margin-bottom: 15px; } }
  @media (min-width: 48em) {
    .catalog-item {
      width: 160px;
      margin-bottom: 30px; } }
  @media (min-width: 70em) {
    .catalog-item {
      width: 250px;
      height: 225px;
      padding: 7px 15px;
      margin: 0 20px 57px 20px; } }
  .catalog-item:first-child {
    margin-left: 0; }
  .catalog-item:last-child {
    margin-right: 0; }
  .catalog-item, .catalog-item:hover, .catalog-item:focus, .catalog-item:visited {
    color: #21409a;
    text-decoration: none; }
  .catalog-item img {
    height: 58px;
    margin-top: 2px;
    margin-bottom: 8px; }
    @media (min-width: 70em) {
      .catalog-item img {
        height: 97px;
        margin-bottom: 18px; } }
  .catalog-item p {
    font-size: 16px;
    line-height: 21px; }
    @media (max-width: 47.99em) {
      .catalog-item p {
        font-size: 14px; } }
    @media (min-width: 70em) {
      .catalog-item p {
        font-size: 24px;
        line-height: 34px; } }
  .catalog-item:hover {
    background: #21409a;
    color: #ffffff; }
    .catalog-item:hover img {
      filter: brightness(100); }
  .catalog-item-page {
    color: #21409a; }
    @media (max-width: 47.99em) {
      .catalog-item-page {
        font-size: 14px; } }
    @media (min-width: 48em) {
      .catalog-item-page {
        font-size: 16px; } }
    @media (min-width: 70em) {
      .catalog-item-page {
        font-size: 18px; } }
    .catalog-item-page .columns {
      margin-bottom: 50px;
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2; }
      @media (max-width: 47.99em) {
        .catalog-item-page .columns {
          -webkit-columns: 1;
          -moz-columns: 1;
          columns: 1;
          font-size: 14px; } }
      .catalog-item-page .columns p {
        margin-bottom: 34px; }
        @media (max-width: 47.99em) {
          .catalog-item-page .columns p {
            margin-bottom: 14px; } }
    .catalog-item-page h2 {
      font-weight: bold;
      margin: 24px 0; }
      @media (max-width: 47.99em) {
        .catalog-item-page h2 {
          font-size: 18px; } }
      @media (min-width: 48em) {
        .catalog-item-page h2 {
          font-size: 24px; } }
      @media (min-width: 70em) {
        .catalog-item-page h2 {
          font-size: 36px; } }
    .catalog-item-page h3 {
      font-size: 24px;
      font-weight: bold;
      margin: 20px 0; }
      @media (max-width: 47.99em) {
        .catalog-item-page h3 {
          font-size: 18px;
          margin: 5px 0; } }
    .catalog-item-page img {
      max-width: 100%;
      margin-bottom: 30px; }
    .catalog-item-page iframe {
      width: 100%; }
    .catalog-item-page table {
      margin-bottom: 16px; }
      .catalog-item-page table tr td, .catalog-item-page table tr th {
        padding: 16px;
        border: 0; }
      .catalog-item-page table tr th {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase; }
      .catalog-item-page table tr td {
        font-size: 14px;
        font-weight: normal; }
@media (max-width: 47.99em) {
  .catalog-download-review a.btn {
    width: 100%;
    font-size: 16px;
    padding: 5px 20px; } }
@media (min-width: 48em) {
  .catalog-download-review a.btn {
    font-size: 18px;
    padding: 8px 24px;
    margin-top: -20px; } }
@media (min-width: 70em) {
  .catalog-download-review a.btn {
    font-size: 20px;
    padding: 10px 30px;
    margin-top: -25px; } }
.catalog-download-review div {
  display: inline-block;
  color: #21409a; }
  @media (max-width: 47.99em) {
    .catalog-download-review div {
      margin-left: 0;
      margin-top: 16px;
      padding: 0;
      font-size: 14px; } }
  @media (min-width: 48em) {
    .catalog-download-review div {
      font-size: 16px;
      margin-left: 30px; } }
  @media (min-width: 70em) {
    .catalog-download-review div {
      font-size: 18px;
      margin-left: 30px; } }
  .catalog-download-review div a {
    display: inline-block; }
    .catalog-download-review div a:hover, .catalog-download-review div a:active, .catalog-download-review div a:focus {
      text-decoration: none; }
    .catalog-download-review div a:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: #21409a;
      transition: all 0.3s ease; }
    .catalog-download-review div a:hover:after {
      width: 100%; }

.cert .slick-dots {
  bottom: -25px; }
  .cert .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #21409a; }
  .cert .slick-dots li button:before {
    font-size: 12px; }
.cert-item {
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent; }
  .cert-item:hover {
    border-color: #21409a; }
  .cert-item:focus {
    box-shadow: none;
    border: none; }
  .cert-item img {
    width: 100%;
    height: 330px;
    padding: 10px; }
    @media (max-width: 47.99em) {
      .cert-item img {
        max-height: 200px; } }
    @media (min-width: 70em) {
      .cert-item img {
        padding: 20px;
        height: 530px; } }
  .cert-item:first-child img {
    padding-left: 0; }

.footer {
  min-height: 170px;
  background-image: linear-gradient(to left, #21409a, #007196);
  padding: 25px 0;
  margin-top: 50px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 220px; }
  @media (max-width: 47.99em) {
    .footer {
      position: relative;
      margin-top: 0;
      height: auto; } }
  @media (min-width: 48em) {
    .footer {
      margin-top: 15px; } }
  @media (min-width: 70em) {
    .footer {
      min-height: 205px;
      padding: 32px 0;
      margin-top: 21px; } }
  .footer-logo-container {
    float: left;
    width: 182px; }
    @media (max-width: 47.99em) {
      .footer-logo-container {
        width: 180px; } }
    @media (min-width: 70em) {
      .footer-logo-container {
        width: 207px; } }
    .footer-logo-container img {
      width: 100%;
      margin-bottom: 39px; }
      @media (max-width: 47.99em) {
        .footer-logo-container img {
          margin-bottom: 21px; } }
  .footer-desc-container {
    float: left;
    width: 246px;
    margin: 0 54px 0 66px;
    color: #ffffff;
    line-height: 21px; }
    @media (max-width: 47.99em) {
      .footer-desc-container {
        margin: 0;
        font-size: 14px; } }
    @media (min-width: 70em) {
      .footer-desc-container {
        margin: 0 129px 0 190px; } }
  .footer-price-container {
    transition: all 0.3s ease;
    float: left;
    width: 133px;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 18px; }
    .footer-price-container:hover {
      border-color: #fff; }
    @media (max-width: 47.99em) {
      .footer-price-container {
        margin: 10px 0 20px 0;
        font-size: 14px; } }
    .footer-price-container a {
      color: #ffffff; }
      .footer-price-container a img {
        float: left;
        width: 26px;
        margin-right: 6px; }
      .footer-price-container a div {
        line-height: 16px; }
  .footer-contact-container {
    float: left;
    width: 182px; }
    @media (max-width: 47.99em) {
      .footer-contact-container {
        font-size: 16px; } }
    .footer-contact-container a.contact-link {
      display: inline-block;
      font-size: 18px;
      color: #ffffff;
      line-height: 23px; }
      .footer-contact-container a.contact-link:hover, .footer-contact-container a.contact-link:active, .footer-contact-container a.contact-link:focus {
        text-decoration: none; }
      .footer-contact-container a.contact-link:after {
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: #ffffff;
        transition: all 0.3s ease; }
      .footer-contact-container a.contact-link:hover:after {
        width: 100%; }
      @media (min-width: 70em) {
        .footer-contact-container a.contact-link {
          line-height: 25px; } }
  .footer-address-container {
    float: left;
    width: 356px;
    margin-left: 64px; }
    @media (max-width: 47.99em) {
      .footer-address-container {
        width: 100%;
        margin: 0;
        margin-top: 16px;
        font-size: 14px; } }
    @media (min-width: 70em) {
      .footer-address-container {
        margin-left: 213px; } }
    .footer-address-container p {
      line-height: 21px;
      color: #ffffff; }
  .footer-developer {
    text-align: left; }
    @media (max-width: 47.99em) {
      .footer-developer {
        text-align: left; } }
    .footer-developer a {
      display: inline-block;
      color: #ffffff; }
      .footer-developer a:hover, .footer-developer a:active, .footer-developer a:focus {
        text-decoration: none; }
      .footer-developer a:after {
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: #ffffff;
        transition: all 0.3s ease; }
      .footer-developer a:hover:after {
        width: 100%; }

.project-item {
  float: left;
  margin-right: 59px; }
  @media (max-width: 47.99em) {
    .project-item {
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px; } }
  @media (min-width: 48em) {
    .project-item {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 34px; } }
  @media (min-width: 70em) {
    .project-item {
      width: 501px;
      margin-top: 60px; } }
  .project-item h2 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 32px;
    color: #21409a; }
    .project-item h2:after {
      transition: all 0.3s ease;
      display: block;
      content: "";
      height: 3px;
      width: 0;
      background-color: #21409a; }
    @media (max-width: 47.99em) {
      .project-item h2 {
        font-size: 18px;
        margin-bottom: 30px; } }
    @media (min-width: 48em) {
      .project-item h2 {
        margin-bottom: 24px; } }
  .project-item:hover h2:after {
    width: 100%; }
  @media (max-width: 47.99em) {
    .project-item .btn {
      font-size: 16px;
      padding: 5px 15px; } }
  .project-item img {
    width: 100%;
    margin-bottom: 33px; }
    @media (max-width: 47.99em) {
      .project-item img {
        margin-bottom: 24px; } }
  .project-item-slider {
    margin-top: 46px; }
    .project-item-slider img {
      width: 100%; }
    .project-item-slider .slick-dots {
      bottom: 0;
      text-align: left; }
      .project-item-slider .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #21409a; }
      .project-item-slider .slick-dots li button:before {
        font-size: 14px; }

.service-page ul {
  padding: 0;
  list-style: none; }
  .service-page ul li {
    float: left;
    margin-right: 70px; }
    @media (max-width: 47.99em) {
      .service-page ul li {
        width: 100%; } }
    @media (min-width: 48em) {
      .service-page ul li {
        width: 100%; } }
    @media (min-width: 70em) {
      .service-page ul li {
        width: 490px; } }
    .service-page ul li:nth-child(2n) {
      margin-right: 0; }
    .service-page ul li .li-header {
      font-size: 24px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 24px; }
      @media (max-width: 47.99em) {
        .service-page ul li .li-header {
          margin-top: 10px;
          line-height: 26px; } }

@media (max-width: 47.99em) {
  .contacts-header {
    margin-bottom: 10px; } }
@media (min-width: 48em) {
  .contacts-header {
    margin-bottom: 50px; } }
@media (min-width: 70em) {
  .contacts-header {
    margin-bottom: 80px; } }
.contacts-item {
  float: left;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.75; }
  @media (max-width: 47.99em) {
    .contacts-item {
      width: 100%;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 48em) {
    .contacts-item {
      width: 340px;
      font-size: 16px; } }
  @media (min-width: 70em) {
    .contacts-item {
      width: 500px;
      font-size: 24px; } }
.contacts-social {
  margin: 10px 0; }
  .contacts-social a {
    margin-right: 33px; }
  @media (max-width: 47.99em) {
    .contacts-social img {
      margin-bottom: 20px; } }

.news-item-page-img {
  float: left;
  width: 50%;
  margin: 0 15px 15px 0; }
  @media (max-width: 47.99em) {
    .news-item-page-img {
      width: 100%;
      margin: 15px 0; } }

/*# sourceMappingURL=style.css.map */
