.catalog {
  &-row {
    content: " ";
    display: table;
  }

  &-list {

    .panel {
      margin-bottom: 0;
      box-shadow: none;
    }

    .catalog-list-header {
      margin-top: 30px;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;

      a {
        @include link-hvr();
      }
    }

    .catalog-list-item {
      color: $blue-color;
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: normal;
      text-transform: none;

      @include mq($until: desktop) {
        font-size: 18px;
      }

      a {
        @include link-hvr();
      }
    }

  }

  &-item {
    @include default-transition();
    display: block;
    float: left;
    height: 150px;
    margin: 0 8px 38px 8px;
    padding: 10px;
    border-radius: 24px;

    @include mq($until: desktop) {
      width: 125px;
      height: 170px;
      margin-bottom: 15px;
    }

    @include mq(desktop) {
      width: 160px;
      margin-bottom: 30px;
    }

    @include mq(wide) {
      width: 250px;
      height: 225px;
      padding: 7px 15px;
      margin: 0 20px 57px 20px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &, &:hover, &:focus, &:visited {
      color: $blue-color;
      text-decoration: none;
    }

    img {
      height: 58px;
      margin-top: 2px;
      margin-bottom: 8px;

      @include mq(wide) {
        height: 97px;
        margin-bottom: 18px;
      }
    }

    p {
      font-size: 16px;
      line-height: 21px;

      @include mq($until: desktop) {
        font-size: 14px;
      }

      @include mq(wide) {
        font-size: 24px;
        line-height: 34px;
      }
    }

    &:hover {
      background: $blue-color;
      color: #ffffff;

      img {
        filter: brightness(100);
      }
    }

    &-page {
      color: $blue-color;

      @include mq($until: desktop) {
        font-size: 14px;
      }

      @include mq(desktop) {
        font-size: 16px;
      }

      @include mq(wide) {
        font-size: 18px;
      }

      .columns {
        margin-bottom: 50px;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;

        @include mq($until: desktop) {
          -webkit-columns: 1;
          -moz-columns: 1;
          columns: 1;
          font-size: 14px;
        }

        p {
          margin-bottom: 34px;

          @include mq($until: desktop) {
            margin-bottom: 14px;
          }
        }
      }

      h2 {
        font-weight: bold;
        margin: 24px 0;

        @include mq($until: desktop) {
          font-size: 18px;
        }

        @include mq(desktop) {
          font-size: 24px;
        }

        @include mq(wide) {
          font-size: 36px;
        }
      }

      h3 {
        font-size: 24px;
        font-weight: bold;
        margin: 20px 0;

        @include mq($until: desktop) {
          font-size: 18px;
          margin: 5px 0;
        }
      }

      img {
        max-width: 100%;
        margin-bottom: 30px;
      }

      iframe {
        width: 100%;
      }

      table {
        margin-bottom: 16px;

        tr {
          td, th {
            padding: 16px;
            border: 0;
          }

          th {
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
          }

          td {
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
  }

  &-download-review {
    a.btn {
      @include mq($until: desktop) {
        width: 100%;
        font-size: 16px;
        padding: 5px 20px;
      }

      @include mq(desktop) {
        font-size: 18px;
        padding: 8px 24px;
        margin-top: -20px;
      }

      @include mq(wide) {
        font-size: 20px;
        padding: 10px 30px;
        margin-top: -25px;
      }
    }

    // Подпись к кнопке
    div {
      display: inline-block;
      color: $blue-color;

      @include mq($until: desktop) {
        margin-left: 0;
        margin-top: 16px;
        padding: 0;
        font-size: 14px;
      }

      @include mq(desktop) {
        font-size: 16px;
        margin-left: 30px;
      }

      @include mq(wide) {
        font-size: 18px;
        margin-left: 30px;
      }

      a {
        @include link-hvr();
      }
    }
  }
}