.cert {

  .slick-dots {
    bottom: -25px;

    li.slick-active button:before {
      opacity: 1;
      color: $blue-color;
    }

    li button:before {
      font-size: 12px;
    }
  }

  &-item {
    @include default-transition();
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: $blue-color;
    }

    &:focus {
      box-shadow: none;
      border: none;
    }

    img {
      width: 100%;
      height: 330px;
      padding: 10px;

      @include mq($until: desktop) {
        max-height: 200px;
      }

      @include mq(wide) {
        padding: 20px;
        height: 530px;
      }
    }

    &:first-child {

      img {
        padding-left: 0;
      }
    }
  }
}