.contacts {

  &-header {
    @include mq($until: desktop) {
      margin-bottom: 10px;
    }

    @include mq(desktop) {
      margin-bottom: 50px;
    }

    @include mq(wide) {
      margin-bottom: 80px;
    }
  }

  &-page {

  }

  &-item {
    float: left;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.75;

    @include mq($until: desktop) {
      width: 100%;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24px;
    }

    @include mq(desktop) {
      width: 340px;
      font-size: 16px;
    }

    @include mq(wide) {
      width: 500px;
      font-size: 24px;
    }
  }

  &-social {
    margin: 10px 0;

    a {
      margin-right: 33px;
    }

    @include mq($until: desktop) {
      img {
        margin-bottom: 20px;
      }
    }
  }
}