.footer {
  min-height: 170px;
  background-image: linear-gradient(to left, #21409a, #007196);
  padding: 25px 0;
  margin-top: 50px;

  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 220px;

  @include mq($until: desktop) {
    position: relative;
    margin-top: 0;
    height: auto;
  }

  @include mq(desktop) {
    margin-top: 15px;
  }

  @include mq(wide) {
    min-height: 205px;
    padding: 32px 0;
    margin-top: 21px;
  }

  &-logo-container {
    float: left;
    width: 182px;

    @include mq($until: desktop) {
      width: 180px;
    }

    @include mq(wide) {
      width: 207px;
    }

    img {
      width: 100%;
      margin-bottom: 39px;

      @include mq($until: desktop) {
        margin-bottom: 21px;
      }
    }
  }

  &-desc-container {
    float: left;
    width: 246px;
    margin: 0 54px 0 66px;
    color: #ffffff;
    line-height: 21px;

    @include mq($until: desktop) {
      margin: 0;
      font-size: 14px;
    }

    @include mq(wide) {
      margin: 0 129px 0 190px;
    }
  }

  &-price-container {
    @include default-transition();
    float: left;
    width: 133px;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 18px;

    &:hover {
      border-color: #fff;
    }

    @include mq($until: desktop) {
      margin: 10px 0 20px 0;
      font-size: 14px;
    }

    a {
      color: #ffffff;

      img {
        float: left;
        width: 26px;
        margin-right: 6px;
      }

      div {
        line-height: 16px;
      }
    }
  }

  &-contact-container {
    float: left;
    width: 182px;

    @include mq($until: desktop) {
      font-size: 16px;
    }

    a.contact-link {
      @include link-hvr(#ffffff);
      font-size: 18px;
      color: #ffffff;
      line-height: 23px;

      @include mq(wide) {
        line-height: 25px;
      }
    }
  }

  &-address-container {
    float: left;
    width: 356px;
    margin-left: 64px;

    @include mq($until: desktop) {
      width: 100%;
      margin: 0;
      margin-top: 16px;
      font-size: 14px;
    }

    @include mq(wide) {
      margin-left: 213px;
    }

    p {
      line-height: 21px;
      color: #ffffff;
    }
  }

  &-developer {
    text-align: left;

    @include mq($until: desktop) {
      text-align: left;
    }

    a {
      @include link-hvr(#ffffff);
      color: #ffffff;
    }
  }
}