.header {
  padding-top: 24px;

  @include mq($until: desktop) {
    padding-top: 16px;
    margin-bottom: 35px;
  }

  @include mq(wide) {
    padding-top: 68px;
  }

  &-logo-container {
    float: left;
    width: 180px;

    @include mq($until: desktop) {
      width: 156px;
      margin-right: 21px;
    }

    @include mq(wide) {
      width: 280px;
    }
  }

  &-logo {
    width: 100%;
  }

  &-phone-container {
    float: left;
    width: 244px;
    margin: 3px 35px 0 58px;

    @include mq(wide) {
      width: 280px;
      margin: 8px 112px 0 111px;
    }

    @include mq($until: desktop) {
      display: none;
    }
  }

  &-phone {
    @include link-hvr();
    color: $blue-color;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;

    @include mq(wide) {
      font-size: 36px;
      line-height: 34px;
    }
  }

  &-consult {
    @include link-hvr();
    margin-left: 5px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 31px;

    @include mq(wide) {
      font-size: 24px;
      line-height: 34px;
      margin-left: 3px;
      margin-top: 7px;
    }

    img {
      width: 25px;
      margin-right: 5px;
    }
  }

  &-desc-container {
    float: left;
    width: 154px;
    margin-top: 7px;
    line-height: 22px;
    font-size: 18px;
    color: #21409a;

    @include mq($until: desktop) {
      display: none;
    }

    @include mq(wide) {
      width: 337px;
      font-size: 24px;
      margin-top: 5px;
      padding-left: 15px;
      line-height: 27px;
    }
  }

  &-search-container {
    position: relative;
    width: 100%;

    @include mq($until: desktop) {
      margin-top: 10px;
      display: none;
    }

    @include mq(wide) {
      margin-top: 15px;
    }

    button {
      @include default-transition();
      background: none;
      padding: 0;
      border: 0;
      position: absolute;
      top: 2px;

      @include mq(wide) {
        padding: 2px;
      }

      img {
        width: 24px;
      }

      &:hover {
        background: none;
      }
    }

    input {
      @include default-transition();

      border: 0;
      border-radius: 0;
      color: $blue-color;
      border-bottom: 2px solid $blue-color;
      box-shadow: none;
      height: 34px;
      padding: 0 0 0 34px;
      font-size: 18px;

      &:focus {
        box-shadow: none;
        border-color: $blue-color;
      }

      @include mq(wide) {
        height: 39px;
      }
    }

  }

  &-menu {

    @include mq($until: desktop) {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        @include mq(desktop) {
          margin: 21px 4px 29px 22px;
        }

        @include mq(wide) {
          margin: 41px 65px 29px 22px;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          @include link-hvr();
          font-size: 18px;

          @include mq(wide) {
            font-size: 24px;
          }
        }
      }
    }
  }

  &-mobile-container {
    display: none;

    @include mq($until: desktop) {
      display: block;
    }

    img {
      margin-right: 6px;
    }
  }
}