.homepage {

  &-slider {
    width: 100%;
    height: 320px;
    border-radius: 24px;
    background-image: linear-gradient(to left, #21409a, #007196);

    @include mq(wide) {
      margin-top: 28px;
      height: 432px;
    }

    .slick-dots {
      bottom: 10px;

      li button:before {
        font-size: 10px;
        opacity: 1;
        color: #d2d2d2;

        @include mq(wide) {
          font-size: 14px;
        }
      }

      li.slick-active button:before {
        color: #ffffff;
      }
    }

    &-item {
      color: #ffffff;

      @include mq($until: desktop) {
        height: 320px;
      }

      &-img {
        float: left;
        overflow: hidden;

        @include mq($until: desktop) {
          width: 230px;
          height: 170px;
          position: absolute;
          bottom: -25px;
        }

        @include mq(desktop) {
          width: 413px;
          height: 328px;
          margin-top: -8px;
          margin-right: 3px;
        }

        @include mq(wide) {
          width: 537px;
          height: 432px;
          margin-top: 0;
          margin-right: 46px;
        }
      }

      img {
        width: 100%;
        margin-top: 50px;
        margin-left: -50px;
      }

      .text {
        float: left;
        width: 228px;
        margin-top: 73px;

        @include mq($until: desktop) {
          padding-left: 40px;
          margin-top: 28px;
          margin-bottom: 13px;
        }

        @include mq(wide) {
          width: 425px;
        }

        h2 {
          font-size: 24px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 19px;
          line-height: 30px;

          @include mq($until: desktop) {
            font-size: 18px;
            line-height: 18px;
          }

          @include mq(wide) {
            font-size: 48px;
            line-height: 57px;
          }
        }

        p {
          font-size: 18px;
          margin-bottom: 25px;
          line-height: 19px;

          @include mq($until: desktop) {
            font-size: 14px;
            line-height: 18px;
          }

          @include mq(wide) {
            font-size: 24px;
            line-height: 31px;
          }
        }

        a {
          @include default-transition();

          font-size: 16px;
          font-weight: bold;
          height: 32px;
          border-radius: 24px;
          border: solid 3px #ffffff;
          text-transform: uppercase;
          padding: 3px 21px;

          &, &:focus, &:visited {
            color: #ffffff;
            text-decoration: none;
          }

          &:hover {
            background: #ffffff;
            color: $blue-color;
          }

          @include mq(wide) {
            font-size: 20px;
            margin-top: 10px;
            height: 49px;
            border: solid 4px #ffffff;
            padding: 9px 41px;
          }
        }
      }
    }
  }

  &-about {
    margin-top: 58px;

    @include mq($until: desktop) {
      margin-top: 40px;
    }

    @include mq(wide) {
      margin-top: 91px;
    }

    h2 {
      margin-bottom: 18px;

      @include mq(wide) {
        margin-bottom: 43px;
      }
    }

    p {
      color: $blue-color;
      line-height: 21px;
      margin-bottom: 20px;

      @include mq($until: desktop) {
        margin-top: 16px;
        font-size: 14px;
      }

      @include mq(wide) {
        width: 920px;
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

  &-catalog {
    margin-top: 75px;

    @include mq($until: desktop) {
      margin-top: 40px;
    }

    @include mq(wide) {
      margin-top: 88px;
    }

    h2 {
      margin-bottom: 55px;

      @include mq($until: desktop) {
        margin-bottom: 16px;
      }
    }
  }

  &-certs {
    margin-top: 12px;

    @include mq(wide) {
      margin-top: 6px;
    }

    h2 {
      margin-bottom: 24px;

      @include mq(wide) {
        margin-bottom: 40px;
      }
    }
  }
}