.mobile-menu {
  display: none;
  background: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  padding: 15px;
  top: 57px;

  &-description {
    font-size: 14px;
    color: $blue-color;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 15px;

      a {
        @include link-hvr();
        color: $blue-color;
        font-size: 21px;
        font-weight: bold;
      }
    }
  }
}