.news {

  &-item-page {

    &-img {
      float: left;
      width: 50%;
      margin: 0 15px 15px 0;

      @include mq($until: desktop) {
        width: 100%;
        margin: 15px 0;
      }
    }
  }
}