.project {

  &-item {
    float: left;
    margin-right: 59px;

    @include mq($until: desktop) {
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    @include mq(desktop) {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 34px;
    }

    @include mq(wide) {
      width: 501px;
      margin-top: 60px;
    }

    h2 {
      display: inline-block;

      font-size: 24px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 32px;
      color: $blue-color;

      &:after {
        @include default-transition();
        display: block;
        content: "";
        height: 3px;
        width: 0;
        background-color: $blue-color;
      }

      @include mq($until: desktop) {
        font-size: 18px;
        margin-bottom: 30px;
      }

      @include mq(desktop) {
        margin-bottom: 24px;
      }
    }

    &:hover h2:after {
      width: 100%;
    }

    .btn {

      @include mq($until: desktop) {
        font-size: 16px;
        padding: 5px 15px;
      }
    }

    img {
      width: 100%;
      margin-bottom: 33px;

      @include mq($until: desktop) {
        margin-bottom: 24px;
      }
    }

    &-slider {
      margin-top: 46px;

      img {
        width: 100%;
      }

      .slick-dots {
        bottom: 0;
        text-align: left;

        li.slick-active button:before {
          opacity: 1;
          color: $blue-color;
        }

        li button:before {
          font-size: 14px;
        }
      }
    }
  }
}