.service-page {

  ul {
    padding: 0;
    list-style: none;

    li {
      float: left;
      margin-right: 70px;

      @include mq($until: desktop) {
        width: 100%;
      }

      @include mq(desktop) {
        width: 100%;
      }

      @include mq(wide) {
        width: 490px;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      .li-header {
        font-size: 24px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 24px;

        @include mq($until: desktop) {
          margin-top: 10px;
          line-height: 26px;
        }
      }
    }
  }
}